.slider-feed{
    user-select: none;
    background-color: var(--color-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 56px;
    position: fixed;
    width: auto;
    padding: 0 28px;
    /* background-color: red; */

}
.feed-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.feed-item{
   cursor: pointer;
   background-color:#efefef ;
   border-radius: 8px;
   padding: 5px 12px;
   white-space: nowrap;
   color:rgb(36, 36, 36);
   font-size: 14px;
   font-weight: 500;
}
.feed-item-active{
    background-color: black;
    color: white;
}

