.home-container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.home-left{
    flex: 1 ;
    position: sticky;
    top: 0;
}
.home-right{
    /* background-color: rgb(251, 195, 195); */
    flex: 17 ;
}