nav {
  z-index: 999;
  background-color: var(--color-bg);
  position: fixed;  
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  width: 100%;
}
.bar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
  padding-right: 40px;
}
.logo img {
  padding-top: 3px;
  padding-right: 6px;
  height: 28px;
  width: 100px;
}

.nav-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.1s;
}
.nav-icons:hover{
    background-color: #dfdfdf;
}
#nicon-image img{
  background-color: #ffffff;
  height: 36px;
  width: 36px;
}
.nav-icons img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
#user {
  padding-right: 34px;
  display: flex;
  align-items: center;
}

/* for tooltip  */

.icon-info{
  visibility: hidden;
  position: absolute;
  top: 64px;
  padding: 8px 8px;
  color: white;
  font-size: 12px;
  background-color:rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  transition: 0.6ms;
}
.nav-icons:hover .icon-info,.search-info:hover .icon-info{
  visibility: visible;
}