nav {
  background-color: var(--color-bg);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  width: 100%;
}
.bar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4px;
}
.logo img {
  padding-top: 3px;
  padding-right: 6px;
  height: 28px;
  width: 100px;
}
.search-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 670px;
}
.search-box {
  display: flex;
  align-items: center;
  width: 90%;
}
.search-box input {
  border-radius: 25px 0 0 25px;
  padding: 4px 14px;
  width: 100%;
  height: 32px;
  border: 0.2px solid rgb(200, 200, 200);
  border-right: none;
  font-size: 16px;
  font-weight: 400;
  box-shadow: inset 0px 1px rgb(218 218 218);
}
.search-box button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 0 25px 25px 0;
  height: 32px;
  width: 65px;
  border: 0.2px solid rgb(200, 200, 200);
  background-color: #efefef;
}
.search-box button:hover{
    background-color:#dfdfdf ;
    box-shadow: 0px 1px 1px 0px #cdcdcd;
    
}
.nicon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.1s;
}
#mic{
    background-color: #efefef;
   
}
#mic:hover{
    background-color: #dfdfdf;
}
.nicon:hover{
    background-color: #dfdfdf;
}
.nicon img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
#user {
  padding-right: 8px;
  display: flex;
  align-items: center;
}
