.profile-menu{
    overflow: hidden;
    top: 6px;
    right: 71px;
    position: absolute;
    background-color: #ffffff;
    height: 645px;
    width: 300px;
    border-radius: 14px;
    box-shadow: 0px 4px 32px 0px rgba(0,0,0,0.1);
    transition: 0.8s;
    display:block;
  }
  .user-info{
    z-index: 9;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 16px;
    height: 72px;
    font-size: 15px;
    font-weight: 400;
    border-radius:14px 14px 0px 0px;
    display: flex;
    border-bottom: 0.5px solid rgb(228, 226, 226)
  }
  .user-icon img{
    border-radius: 50%;
    height: 44px;
    width: 44px;
    margin-right: 16px;
  }

  #manage-account{
    cursor: pointer;
    padding-top: 5px;
    font-size: 13px;
    font-weight: 500;
    color: #0666e3;
  }
  .user-info-settings{
    height: 541px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 0 0 14px 14px;
  }
  .user-settings{  
    height: auto;
    padding: 8px 0;
    width: 100%;
    border-bottom: 0.5px solid rgb(228, 226, 226);
  }
  .user-options{
    gap: 20px;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 36px 0 22px;
    font-size: 13px;
    font-weight: 400;
    white-space: nowrap;
    transition: 0.1s;
  }

  .user-options:hover{
    cursor: pointer;
    background-color: #efefef;
  }

  /* css for scrollbar */
  .user-info-settings::-webkit-scrollbar{
    width: 8px;
  }
  .user-info-settings:hover::-webkit-scrollbar-thumb{
    background-color: #888;
  }
  /* css for scrollbar ends */

  
  .angle-right{
    align-self: end;
  }
  .user-options-icons{
    width: 22px;
    font-size: 14px;
  }
  .user-options-icon img{
    z-index:inherit;
    filter: grayscale(100%);
    width: 22.5px;
    height: 22px;
  }
  .user-options-icons-angle1{
    padding-left: 78px;
  }
  .user-options-icons-angle2{
    padding-left: 63.5px;
  }
  .user-options-icons-angle3{
    padding-left: 64.5px;
  }
  .user-options-icons-angle4{
    padding-left: 48px;
  }
  .user-options-icons-angle5{
    padding-left: 84px;
  }