.default-Sidebar-Container{
    top: 60px;
    position: sticky;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(-100%);
    transition: all 0.4s ease-out;
    gap: 20px;
    margin: 5px 0px;
    padding: 5px 0px;
}
.default-sidebar-collapse{
    transform: translateX(0%);
}
.default-Sidebar-section{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 18px 5px;
    border-radius: 7px;
}
.default-Sidebar-section:hover{
    background-color: var(--color-hover);
}
.default-Sidebar-section span{
    font-size: 8px;
}
.sidebar-icons{
    font-size: 18px;
}